<form [formGroup]="lobbyForm" (ngSubmit)="onLobbySubmit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input formControlName="name" id="name" type="text"/>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input formControlName="email" id="email" type="email"/>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input formControlName="password" id="password" type="password"/>
  </div>
  <button type="submit" [disabled]="!lobbyForm.valid">Continue</button>
</form>
