<form [formGroup]="addEducationForm" (ngSubmit)="onAddEducationFormSubmit()">
  <div class="form-group">
    <label for="school">School</label>
    <input formControlName="school" id="school" type="text"/>
  </div>
  <div class="form-group">
    <label for="degree">Degree</label>
    <input formControlName="degree" id="degree" type="text"/>
  </div>
  <div class="form-group">
    <label for="from">From</label>
    <input formControlName="from" id="from" type="month"/>
  </div>
  <div class="form-group">
    <label for="to">To</label>
    <input formControlName="to" id="to" type="month"/>
  </div>
  <button type="submit" [disabled]="!addEducationForm.valid">Save</button>
</form>
