* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.text-center {
  text-align: center;
}

form {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  .form-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: .8rem;
    label{
      width: 100%;
    }
    input {
      width: 100%;
      padding-top: .4rem;
      padding-bottom: .4rem;
    }
    textarea {
      width: 100%;
      min-height: 40vh;
    }
  }
  .form-checkbox-group {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    margin-bottom: .8rem;
    label{
      width: 100%;
      margin-left: .4rem;
    }
  }
  quill-editor {
    width: 100%;
  }
}
